*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(81 128 247);
    text-align: center;
    color: rgb(255, 255, 255);
    padding:20px 0;
}
.cadastro{
    display: flex;
    margin: 20px;
    padding: 20px;
}
.cadastro input[type=text]{
    flex: 1;
    height: 30px;
    margin: 2px;
    padding-left: 20px;
}

.cadastro input[type=number]{
    flex: 1;
    height: 30px;
    margin: 2px;
    padding-left: 20px;
}
.listagem-head{
    display: flex;
    margin:0 20px ;
    padding: 20px;
    background-color: rgb(81 128 247);
    text-align: center;
    color: rgb(255, 255, 255);
}
.listagem-head h3{
    flex: 1;
    padding: 0 20px;
}
.listagem-item{
    display: flex;
    border-bottom:1px solid #ccc;
    text-align: center;
    margin:0 20px ;
}
.listagem-item h3{
    flex:1;
    padding:0 20px;
}
.soma-produtos{
    text-align: right;
    margin:20px ;
    background-color: rgb(81 128 247);
    color: rgb(255, 255, 255);
}